.formContainer {
  display: flex;
  height: 100vh;
}

.cardSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../../Assets/bg-main-desktop.png);
  background-size: 55% 100vh;
  background-repeat: no-repeat;
}

.cardFront {
  padding: 1rem;
  margin-left: 5rem;
  height: 11rem;
  width: 20rem;
  background-image: url(../../Assets/bg-card-front.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.cardFront p {
  margin-top: 1.5rem;
  color: var(--White);
}

.cardFront div {
  display: flex;
  justify-content: space-between;
}

.cardBack {
  padding: 1rem;
  margin: 3rem 0 0 10rem;
  height: 11rem;
  width: 20rem;
  background-image: url(../../Assets/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  position: relative;
}

.cardBack p {
  position: absolute;
  top: 4.8rem;
  left: 15rem;
  color: var(--White);
}

.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
}

.form label {
  text-transform: uppercase;
  color: var(--Very-dark-violet);
}

.inputOk {
  padding: 0.3rem;
  margin: 0.5rem 0 0.2rem 0;
  border-radius: 5px;
  border: 1px solid var(--Dark-grayish-violet);
}

.inputOk:focus {
  border: 1px solid;
  border-image: var(--Linear-gradient);
  outline: none;
}

.form input::placeholder {
  color: var(--Dark-grayish-violet);
}

.inputError {
  padding: 0.3rem;
  margin: 0.5rem 0 0.2rem 0;
  border-radius: 5px;
  border: 1px solid var(--Red);
}

.inputError:focus {
  border: 1px solid var(--Red);
  outline: none;
}

.form span {
  font-size: small;
  margin-bottom: 1rem;
  color: var(--Red);
}

.formSubContainer {
  display: flex;
}

.formSubContainer div div {
  display: flex;
}

.cvcContainer {
  display: flex;
  flex-direction: column;
}

.formSubContainer input {
  width: 100%;
  margin-right: 1rem;
}

button {
  padding: 1rem;
  background-color: var(--Very-dark-violet);
  color: var(--White);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .formContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardSection {
    background-image: url(../../Assets/bg-main-mobile.png);
    background-size: 100% 80%;
    position: relative;
    width: 100vw;
    height: 30vh;
    padding: 1rem;
  }

  .cardFront {
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 15rem;
  }

  .cardBack {
    margin: 0;
    position: absolute;
    top: 4rem;
    left: 3rem;
    width: 15rem;
  }

  .cardBack p {
    left: 10.5rem;
    top: 3.4rem;
  }
}
